@media screen and (max-width: 430px) {
  .contenedor_navegacion {
    flex-direction: column;
  }
  .section_menu {
    width: 90%;
    justify-content: space-between;
  }
  nav {
    display: none;
  }
  nav ul {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .fa-bars {
    display: flex;
  }
  .caption {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    border: 2px #fff dotted;
  }
  .caption h1 {
    font-size: 28px;
  }
  .caption p {
    font-size: 15px;
  }
  /* PARALLAX */
  .contenido {
    top: 49%;
  }
  .img_doctor {
    width: 130px;
    filter: grayscale(0);
  }
  .contenido h2 {
    font-size: 45px;
    clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%);
  }
  form {
    width: 100%;
  }
  .contenedor_contactanos {
    width: 90%;
  }
  /* FIN PARALLAX */
  .logo_footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo_red {
    flex-wrap: wrap;
  }
  .redes h2 {
    font-size: 15px;
  }
  footer article {
    font-size: 12px;
    line-height: 18px;
  }
}
