/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&family=Quicksand:wght@300;400;500;600;700&display=swap");
/* END FONTS */

:root {
  --Tipografia1: "Comfortaa", sans-serif;
  --Tipografia2: "Quicksand", sans-serif;
  --ColorBase: #6387f2;
  --ColorBasetrans: #6387f262;
  --ColorSec: #7685b3;
  --ColorCom: #f2cb63;
  --AzulBajo: #c3d0fa;
  --light: 300;
  --Normal: 400;
  --Normal2: 500;
  --SemiBold: 600;
  --Bold: 700;
  --Desktop: 1200px;
  --Movil: 430px;
}
/* Reset de estilos */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/* Estilos generales del cuerpo del documento */
body {
  font-family: var(--Tipografia1);
  font-size: 16px;
  line-height: 24px;
  color: #333;
}
/* Clase para establecer un ancho máximo y centrar el contenido */
.ancho {
  max-width: var(--Desktop);
  margin: auto;
}
header {
  background-color: var(--ColorBasetrans);
}
/* MENU  */
.contenedor_navegacion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section_menu {
  padding: 10px 0px;
  display: flex;
  flex-direction: row;

  align-items: center;
  font-family: var(--Tipografia2);
  color: var(--ColorBase);
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-bars {
  font-size: 30px;
  cursor: pointer;
  display: none;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
}
nav ul li:nth-child(7) {
  border: 1px var(--ColorCom) solid;
  padding: 10px 20px;
  background-color: var(--ColorCom);
}
nav ul li:nth-child(7):hover {
  background-color: #fff;
  border: 1px #fff solid;
}
nav ul li a {
  font-weight: var(--Bold);
  text-decoration: none;
  color: var(--ColorBase);
}
nav ul li a:hover {
  color: var(--ColorCom);
}
/* MODAL */
.fondomodal {
  display: none;
  padding: 100px 10px;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0.8);
}
.contenidomodal {
  background-color: var(--ColorBase);
  border-radius: 8px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  padding: 15px 20px 30px 20px;
  position: relative;
}
.imgmodal {
  width: 100px;
}
.fa-circle-xmark {
  color: var(--ColorCom);
  position: absolute;
  top: -5%;
  left: 94%;
  font-size: 30px;
}
.contenidomodal p {
  color: #fff;
  /* font-size: 50px; */
}
/* FIN MODAL */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.rslides li {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: 755px;
  object-fit: cover;
  float: left;
  width: 100%;
  border: 0;
}

/*  fin */

.callbacks1_container {
  position: relative;
  margin: auto;
}
.callbacks1_container img {
  height: 500px;
  object-fit: cover;
}
.callbacks1_container ul {
  margin: 0px;
}

.caption {
  position: absolute;
  z-index: 2;
  left: 30%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 35%;
  padding: 20px;
  border: 5px #fff dotted;
  background-color: var(--ColorBasetrans);
  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem);
  border-radius: 3px;
}
.caption h1 {
  text-align: center;
  color: #fff;
  padding: 20px;
  width: 100%;
  line-height: 42px;
  font-family: var(--Tipografia2);
  font-size: 35px;
  font-weight: var(--Bold);
}
.caption p {
  width: 500px;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
}
.caption a {
  display: inline-block;
  color: #fff;
  background-color: var(--ColorBase);
  padding: 15px 40px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}
.callbacks1_nav {
  position: absolute;
  top: 50%;
  left: 5%;
  opacity: 0.4;
  z-index: 2;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 63px;
  width: 40px;
  background: transparent url("../imagenes_comp/themes.gif") no-repeat left top;
}
.callbacks1_nav:active {
  opacity: 0.8;
}
.callbacks1_nav.next {
  left: 90%;
  background-position: right top;
  /* right: 50px; */
}
/* SERVICIOS */
.fondo_servicios {
  background-color: var(--AzulBajo);
}
.contenedor_servicios {
  text-align: center;
  color: var(--ColorBase);
}
.contenedor_servicios h1 {
  font-size: 35px;
  padding: 40px 0px;
}

/* CARRUSEL */
.slide-buttons {
  padding-bottom: 30px;
}
.slide figure img {
  width: 100%;
}
.slide h1 {
  font-size: 35px;
  line-height: 43px;
}
/* fin carrusel */
/* parallax */
.contenedor_parallax {
  position: relative;
  width: 100%;
  height: 350px;
  background-image: url(../imagenes_comp/parallax1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -20px;
  background-attachment: fixed;
}

.contenedor_parallax2 {
  position: relative;
  width: 100%;
  height: 350px;
  background-image: url(../imagenes_comp/parallax2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -20px;
  background-attachment: fixed;
}
.contenedor_parallax3 {
  position: relative;
  width: 100%;
  height: 350px;
  background-image: url(../imagenes_comp/parallax3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -20px;
  background-attachment: fixed;
}

.contenido {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.img_doctor {
  width: 220px;
  filter: grayscale(1);
  transition: all 0.5s;
}
.img_doctor:hover {
  filter: grayscale(0);
}
.doctor {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--ColorBasetrans);
  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem);
}
.contenido h2 {
  font-size: 55px;
  color: #fff;
  font-weight: var(--Bold);
  padding: 50px;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  background-color: var(--ColorBase);
}
/* FANCYBOX */
.contenedor_seccion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}
.contenedor_seccion a {
  filter: brightness(1);
  transition: all 0.5s;
}
.contenedor_seccion a:hover {
  filter: brightness(0.5);
}
.fotos {
  width: 350px;
  height: 350px;
  object-fit: cover;
  transition: 1s;
  cursor: pointer;
}
.fotos :hover {
  filter: blur(1);
}

.contenedor_testimonios {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 40px;
  flex-wrap: wrap;
  padding: 50px 0px;
}
.testimonios {
  width: 360px;
  text-align: center;
  padding: 30px;
  border: 3px #fff dotted;
  box-shadow: 5px 20px 20px 0 #333;
  border-radius: 10px;
}
.testimonios i {
  font-size: 40px;
  padding: 10px 0px;
}
.testimonios h1 {
  font-size: 35px;
  line-height: 43px;
  color: #fff;
  padding: 10px 0px;
}
.testimonios h2 {
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  padding: 10px 0px;
}
.testimonios p {
  font-size: 15px;
  line-height: 23px;
  color: var(--ColorSec);
  padding: 10px 0px;
}
/* ACORDEON */
.cont_acordeon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 0px;
}
.acordeones {
  width: 100%;
  text-align: center;
}

.titulo_rotar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--Verde);
  margin: 10px 0px;
}
.titulo_rotar h3 {
  color: var(--ColorBase);
}
.color-titulo {
  transition: all 0.5s;
}
.icono {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: var(--ColorBase);
  padding-right: 30px;
}
.acordeones h1 {
  padding-bottom: 30px;
}

#minus {
  display: none;
  transition: all 0.5s;
}
.mostrar {
  padding: 10px;
  display: none;
  text-align: center;
}
.mostrar h2 {
  color: #fff;
  /* margin: 20px 0px; */
}
.rotar {
  transition: all 1s;
  transform: rotate(180deg);
}
/* FIN ACORDEON */
/* VIDEO RESPONSIVE */
.video_responsive {
  max-width: 1200px;
}
.contenedor_video {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}
.contenedor_video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* FORMULARIO */
form {
  width: 80%;
  margin: auto;
  padding: 30px;
}
.contenedor_contactanos {
  width: 100%;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 42px;
}
label {
  display: block;
  margin-bottom: 8px;
  color: var(--ColorCom);
  font-size: 20px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border-radius: 5px;
  border: 1px #ffffff8e solid;
  background-color: #ffffff8e;
  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem);
}
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px #ffffff8e solid;
  background-color: #ffffff8e;
  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem);
}

button {
  background-color: var(--ColorCom);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--ColorBase);
}
.fondo_contactos {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url(../imagenes_comp/parallax4.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* FOOTER */
footer {
  background-color: var(--ColorBase);
  position: relative;
}
.logo_footer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px 0px;
}
.logo_footer h2 {
  color: #fff;
}
footer article {
  text-align: center;
  color: #fff;
}
.logo_red {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.redes {
  display: flex;
  gap: 20px;
}
.redes h2 {
  color: #fff;
}
.redes a {
  color: #fff;
  text-decoration: none;
}
.redes a i {
  font-size: 20px;
}
.redes a i:hover {
  color: var(--ColorCom);
}
.arrow-inicio {
  position: fixed;
  top: 90%;
  left: 90%;
  z-index: 101;
}
.arrow-inicio i {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 10px;
  text-align: center;
  color: #fff;
  background-color: var(--ColorCom);
}
